---
layout: default
---

<header class="clean" style="height: 100%; background-image: url({{ site.cover }}); {% if site.parallax != true %}background-attachment: scroll;{% endif %}" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50">
	<a href="{{ site.url }}{{ site.baseurl }}">
		<div id="home-title" class="site-icon-page" style="background-image: url({{ site.icon }});" data-stellar-ratio="0.7"></div>
	</a>
	
	<div id="post-info" style="bottom: 1.88rem; text-align: center; line-height: 2.8rem;" data-stellar-ratio="0.7">
		<h1>{{ page.title }}</h1>
	</div>
</header>
<div id="middle">
<div id="article">
	{{ content }}
</div>
</div>
<footer class="clean" style="background-image: url('/assets/images/bottom.png'); background-position: bottom; bottom: 0; z-index: 4;
 height: 16rem; {% if site.parallax != true %}background-attachment: scroll;{% endif %}" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="50">
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
</footer>
